h1, h2, h3, h4, h5, h6, p, a {
  font-family: 'Lato', sans-serif;
}

.graph-info>h6 {
  text-transform: uppercase;
  font-weight: 800;
  text-align: center;
  margin-bottom: 20px;
}

.screen-height {
  height: 100vh;
}

body {
  background-image: url("maize10.jpg");
  background-size: cover;
  background-position: center;
}

.container-fluid {
  background-color: rgba(255,255,255, 0.6);
}

.logo {
  height: 75%;
}

#my-email {
  font-size: 0.6rem;
  font-weight: 400;
  text-transform: uppercase;
  color: #EEEEEE;
  margin-top: 5px;
}

.my-email:hover {
  color: #ffc13b;
  text-decoration: none;
}

.full-height {
  height: 100%;
}

#sidebar {

  background-color: #1e3d59;
}

#app-info {
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#form-holder {
}

#scatter-row {
  height: 40%;
}

#heatmaps-row {
  height: 60%;
}

#scatter-row {

}

#scattergraph {
  padding: 0;
  background-color: rgba('255,255,255,0.8');
}

#heatmaps {
  padding: 0;
  background-color: rgba('255,255,255,0.8');
}

#heatmapsinfo {
}

#side-form {
  height: 85%;
  padding: 5% 10% 5% 10%;

}

.full-width {
  width: 100%;
}

select {
  width: 100%;
}

.small-label {
  margin-bottom: 0px;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
}

.form-group.my-form-group {
  margin-bottom: 0.5rem;
  width: 100%;
}

.btn.my-btn {
  background-color:#ffc13b;
  margin-top: 1rem;
}

.fas {
  color: #ffc13b;
  font-size: 14px;
}

#scatterinfo, #heatmapsinfo {
  background-color: #ffc13b;
  color: #1e3d59;
  padding-left: 20px;
  padding-right: 20px;
}

#scatterinfo {
  padding-top: 3vh;
}

#heatmapsinfo {
  padding-top: 1.5vh;
}

.red-bg {
  background-color: red;
}

.colorbar {
  object-fit: contain;
  max-height: 55vh;
}

.cbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-label {
  font-size: 11px;
  text-transform: uppercase;
  line-height: 12px;
}

.info-field {
  background-color: white;
  border: 1px solid #DDDDDD;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 0.9rem;
}

#scatterinfo .info-field {
  height: 8%;
}

#heatmapsinfo .info-field{
  height: 5.33%;
}
