h1, h2, h3, h4, h5, h6, p, a {
  font-family: 'Lato', sans-serif;
}

.btn.accordion-btn {
  color: #1e3d59;
  font-weight: bold;
  text-decoration: none;
  line-height: 110%;
  padding: 0px;
}

.btn.accordion-btn:hover {
  color: #ffc13b;
  text-decoration: none;
}

.accordion {
  width: 100%;
}

@media screen and (min-width: 576px) {
  .btn.accordion-btn {
    font-size: 6px;
  }
}
@media screen and (min-width: 800px) {
  .btn.accordion-btn {
    font-size: calc(8px + 9 * ((100vw - 800px) / 700));
  }
}
@media screen and (min-width: 1500px) {
  .btn.accordion-btn {
    font-size: 17px;
  }
}

.fas {
  color: #ffc13b;
}

.fa-caret-down {
  color: #ffc13b;
  margin-left: 5px;
}

.fa-question-circle.help {
  margin-left: 5px;
}

.fa-question-circle.help:hover {
  color: #1e3d59;
}

.fa-caret-down {
  margin-top: -5px;
}

.card-header.left-card-header {
  padding: 0.5rem 1.25rem 0 1.25rem;
  text-align: center;
  width: 100%;
}

.card-body.left-card-body {
  padding: 1rem;
}



/* @media only screen and (min-width: 600px) {
  .screen-height {
    height: 100vh;
  }
} */


.screen-height {
  height: 100vh;
}

body {
  background-image: url("farmer.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/* .container-fluid.white-bg {
  background-color: rgba(255,255,255, 0.7);
} */





.full-height {
  height: 100%;
}

#sidebar {

  background-color: #1e3d59;
}

#app-info {
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 15%;
}

#logo-container {
  height: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#logo {
  width: 100%;
  max-width: 150px;
  height: auto;
}

#email-container a {
  font-weight: 400;
  text-transform: uppercase;
  color: #EEEEEE;
  margin-top: 5px;
}

#email-container a:hover {
  color: #ffc13b;
  text-decoration: none;
}

@media screen and (min-width: 576px) {
  #email-container {
    font-size: calc(6px + 5 * ((100vw - 600px) / 924));
  }
}
@media screen and (min-width: 1500px) {
  #email-container {
    font-size: 11px;
  }
}

#form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#scatter-row {
  height: 40%;
}

#heatmaps-row {
  height: 60%;
}

#scattergraph {
  padding: 10px 0 0 0;
  background-color: rgba('255,255,255,0.8');
}

#heatmaps {
  padding: 0;
  background-color: rgba('255,255,255,0.8');
}

#heatmapsinfo {
}

#side-form {
  height: 80%;
  padding: 0 10% 5% 10%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.nav-tabs {
  display: flex;
  justify-content: space-around;
}

.nav-tabs li {
  width: 50%;
  text-align: center;
  font-weight: bold;
}

@media screen and (min-width: 800px) {
  .nav-tabs li {
    font-size: calc(8px + 10 * ((100vw - 800px) / 1000));
  }
}
@media screen and (min-width: 1800px) {
  .nav-tabs li {
    font-size: 18px;
  }
}

.nav-tabs li a {
  color: #9c834e;
  text-transform: uppercase;
  text-decoration: none;
  padding: 5% 0 5% 0;
}

.nav-tabs a.active {
  color: #ffc13b;
}

.tab-pane {
  margin-top: 10px;
}


#instructions {
  background-color: white;
  border-radius: 5px;
  padding: 5%;
}

#instructions img {
  width: 100%;
  margin-bottom: 5%;
}

#instructions ul {
  padding-left: 7%;
}

@media screen and (min-width: 800px) {
  #instructions li {
    font-size: calc(8px + 6 * ((100vw - 800px) / 700));
  }
}
@media screen and (min-width: 1500px) {
  #instructions li {
    font-size: 14px;
  }
}

.full-width {
  width: 100%;
}

select {
  width: 100%;
}

.small-label {
  margin-bottom: 0px;
  font-weight: bold;
  text-transform: uppercase;
  color: #1e3d59;
}


@media screen and (min-width: 800px) {
  .small-label {
    font-size: calc(6px + 6 * ((100vw - 800px) / 700));
  }
}
@media screen and (min-width: 1500px) {
  .small-label {
    font-size: 12px;
  }
}

@media screen and (min-width: 800px) {
  .form-group.my-form-group {
    margin-bottom: calc(4px + 6 * ((100vw - 800px) / 700));
  }
}
@media screen and (min-width: 1500px) {
  .form-group.my-form-group {
    margin-bottom: 10px;
  }
}







.form-group.my-form-group {
  width: 100%;
}

.btn.yel-btn {
  background-color:#ffc13b;
  margin-top: 1rem;
}

.btn.yel-btn:hover {
  background-color: #ffcb70;
}

.btn.blu-btn {
  background-color: #1e3d59;
  color: white;
}

.btn.blu-btn:hover {
  background-color: #ffc13b;
  color: #222222;
}

.info-label {
  font-size: 11px;
  text-transform: uppercase;
  line-height: 12px;
}

.info-field {
  background-color: white;
  border: 1px solid #DDDDDD;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

@media screen and (min-width: 600px) {
  .info-field {
    font-size: calc(6px + 8 * ((100vw - 600px) / 900));
  }
}
@media screen and (min-width: 1500px) {
  .info-field {
    font-size: 14px;
  }
}

@media screen and (min-width: 600px) {
  .fas {
    font-size: calc(10px + 8 * ((100vw - 600px) / 900));
  }
}
@media screen and (min-width: 1500px) {
  .fas {
    font-size: 18px;
  }
}



@media screen and (min-width: 600px) {
  .info-label {
    font-size: calc(6px + 6 * ((100vw - 600px) / 900));
  }
}
@media screen and (min-width: 1500px) {
  .info-label {
    font-size: 12px;
  }
}


.graph-info {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffc13b;
  color: #1e3d59;
  padding-left: 9%;
  padding-right: 9%;
}

@media screen and (min-width: 600px) {
  .graph-info>h6 {
    font-size: calc(6px + 8 * ((100vw - 600px) / 900));
  }
}
@media screen and (min-width: 1500px) {
  .graph-info>h6 {
    font-size: 14px;
  }
}


.graph-info>h6 {
  text-transform: uppercase;
  font-weight: 800;
  text-align: center;
  margin-bottom: 8%;
}




#scatterinfo .info-field {
  height: 8%;
}

#heatmapsinfo .info-field{
  height: 5.33%;
}

#heatmaps-container {
  padding-right: 30px;
}

.embed-responsive.embed-responsive-16by9.embed-wider {
  width: 100%;
}

#index-main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* .form-control-sm.my-select {
  height: 3vh;
} */


@media screen and (min-width: 600px) {
  .form-control-sm.my-select {
    height: calc(18px + 14 * ((100vw - 600px) / 900));
    padding: calc(2px + 6 * ((100vw - 600px) / 900));
    font-size: calc(10px + 4 * ((100vw - 600px) / 900));
  }
}
@media screen and (min-width: 1500px) {
  .form-control-sm.my-select {
    height: 32px;
    padding: 8px;
    font-size: 14px;
  }



/* @media screen and (max-width: 600px) {
  #right-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
} */
